<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Projeto FPIN</h5>
          		<p>@ 2018 Todos os Direitos Reservados</p>
			</div>
			<div class="col-md-4">
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Membros</h5>
				<ul class="list-unstyled">
		            <li>
		              <a href="#!">Emerson Lino</a>
		            </li>
		            <li>
		              <a href="#!">Marcio Cravalho</a>
		            </li>
		            <li>
		              <a href="#!">João Paulo</a>
		            </li>
          	</ul>
			</div>
		</div>

	</div>
</section>