<section class="text-center pb-0" id="headerslines" *ngIf="headers">
        <div class="container">
          <div class="row">
          	<div class="p">
          		<div class="tm">

								            <div class="px-lg-2 ahead">
								            	<div class="header header-one">
								            		<a href="{{headers[0].url}}">
										              	<img class="rounded img-fluid img-0" src="{{headers[0].urlToImage}}" alt="">
										              	<h2 class="titulo">{{headers[0].title}}</h2>
									              	</a>
								          		</div>
								            </div>
				</div>
				<div class="ts">
								            <div class=" px-lg-2 mt-2 mt-lg-0">
								              <div class="row">
								                <div class="px-lg-2 ahead">
								                	<div class="header">
								                		<a href="{{headers[1].url}}">
										                  <img class="rounded img-fluid img-sec" src="{{headers[1].urlToImage}}" alt="">
										                  <h5 class="titulo">{{headers[1].title}}</h5>
										                </a>
								              		</div>
								                </div>
								                <div class=" px-lg-2 ahead">
								                	<div class="header">
								                		<a href="{{headers[2].url}}">
										                  <img class="rounded img-fluid img-sec" src="{{headers[2].urlToImage}}" alt="">
										                  <h5 class="titulo">{{headers[2].title}}</h5>
										                </a>
									                </div>
								                </div>
								              </div>
								            </div>
				</div>
			</div>



          </div>
        </div>

      </section>

