#headerslines{
	padding-top:30px;

	a{
		color: #000000;
		text-decoration: none;
	}
}

.p{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tm{
	display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;

}

.ts{
	flex-basis: 28%;
    padding: 0 1rem;
}

.ahead{
	padding-top: 10px;
    margin-top: 10px;
	box-shadow: 1px 0px 7px 1px #efefef;
}

.header{

	 .img-sec{
    	max-height: 200px;
    }

     .img-0{
    	max-height: 400px;
    }

	.titulo{
		padding-top:20px;
	}
}