<section>
	<div class="container">
		<div class="text-center">
			<img src="/assets/img/hubnews.svg" width="240" height="120">
		</div>
		<nav class="navbar navbar-expand-lg navbar-light">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto navbar-center">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Últimas</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Negócios</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="#">Tecnologia</a>
			      </li>
			         <li class="nav-item">
			        <a class="nav-link" href="#">Entretenimento</a>
			      </li>
			         <li class="nav-item">
			        <a class="nav-link" href="#">Esportes</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Ciência</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="#">Saúde</a>
			      </li>
			    </ul>
			  </div>
			</nav>
	</div>

</section>
